body {
  background-color: #f9f7fe;
  display: block;
  margin: 8px;
  font-family: "Signika Negative", sans-serif;
}
.weather-container {
  max-width: 600px;
  background: #ffffff;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
a {
  color: #885df1;
  cursor: pointer;
}
header {
  display: block;
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
h1 {
  text-align: center;
  color: #885df1;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.submit-btn {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
.pink-text {
  color: #f65282;
}
